.footer {
    padding-top: 30px;
    height: 444px;
    background: #0B265A;
    &__wrap {
        display: flex;
        margin-top: 120px;
        justify-content: space-between;
    }
    &__cootels {
        display: block;
        width: 170px;
    }
    &__title {
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
    &__text {
        margin-top: 10px;
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        color: #D9DBDE;
    }
    &__social {
        margin-top: 30px;
        width: 130px;
        display: flex;
        justify-content: space-between;
        img {
            width: 32px;
        }
    }
    &__info {
        width: 550px;
        display: flex;
        justify-content: space-between;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
    &__rooms {
        list-style-type: none;
        a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 45px;

            color: #D9DBDE;
        }
    }
}